<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/home/login.css">
    <script src="./js/home/register.js"></script>
    <title>Document</title>

</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="아이디" id="id"/>
            <input type="text" placeholder="이름" id="name" >
            <input type="password" placeholder="비밀번호" id="password"/>
            <input type="password" placeholder="비밀번호확인" id="confirm-password"/>

            <p id ="button">Sign up</p>
            <p class="message">회원가입 하셨습니까? <a href="/login">login</a></p>
        </form>
    </div>
</div>
</body>
</html>